{% assign parent_id = include.parent_id | default: '' %}
{% assign comments = site.data.comments[page.slug] | where_exp: "item", "item.parent_id == parent_id" %}
{% assign sorted_comments = comments | sort: 'date' %}
{% for comment in sorted_comments %}
<div class="comment">
    <h3>{{comment.name}}</h3>
    {% if comment.email %}
    <p class="comment-email">{{ comment.email }}</p>
    {% endif %}
    <time class="post-meta dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ comment.date | date:"%H:%M - %b %-d, %Y" }}
    </time>
    <p>{{comment.message | strip_html | markdownify }}</p>
    <div id="comment-reply-{{ comment._id }}" class="comment-reply">
        <button class="toggle-reply" onclick="toggleReply('{{ comment._id }}')">Reply to {{ comment.name }}</button>
        {% include comment-form.html parent_id=comment._id %}
        {% include comment-list.html parent_id=comment._id %}
    </div>
</div>
{% endfor %}

<script>
  function toggleReply(commentId) {
    var replyForm = document.getElementById("comment-reply-" + commentId);
    replyForm.style.display = replyForm.style.display === "block" ? "none" : "block";
  }
</script>
