<form method="POST" action="{{ site.staticman_url }}" class="comment-form">
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <input name="fields[parent_id]" type="hidden" value="{{ include.parent_id }}">
  <textarea id="message-{{ include.parent_id }}" class="comment-message" name="fields[message]" placeholder="Comment (markdown accepted)" required></textarea>
  <div class="comment-bottom">
    <input class="comment-name" name="fields[name]" type="text" placeholder="Name" required>
    <input class="comment-email" name="fields[email]" type="email" placeholder="Email (optional)">
    <button class="comment-submit" type="submit">SEND</button>
  </div>
  <div class="g-recaptcha" data-sitekey="{{ site.reCaptcha.siteKey }}"></div>
</form>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script>
  function renderMathJax(element) {
    MathJax.typesetClear([element]);
    MathJax.typesetPromise([element]).catch((err) => {
      console.error('MathJax error: ', err);
    });
  }

  var simplemde = new SimpleMDE({
    element: document.getElementById("message-{{ include.parent_id }}"),
    forceSync: true,
    spellChecker: false,
    status: false,
    placeholder: 'Comment (markdown supported)',
    previewRender: function(plainText, preview) {
      setTimeout(function() {
        renderMathJax(preview);
      }, 0);

      return this.parent.markdown(plainText);
    },
  });

  simplemde.codemirror.on('refresh', function() {
    renderMathJax(simplemde.codemirror.display.wrapper);
  });
</script>
