<form method="POST" action="{{ site.staticman_url }}" class="comment-form">
  <!-- <input name="options[redirect]" type="hidden" value="{{ 'comment-success' | absolute_url }}"> -->
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">

  <input name="fields[parent_id]" type="hidden" value="{{ include.parent_id }}">

  <textarea id="message-{{ include.parent_id }}" class="comment-message" name="fields[message]" placeholder="Comment (markdown accepted)" required></textarea>
  <div class="comment-bottom">
    <input class="comment-name" name="fields[name]" type="text" placeholder="Name" required>
    <input class="comment-email" name="fields[email]" type="email" placeholder="Email (optional)">
    <button class="comment-submit" type="submit">SEND</button>
  </div>
</form>

<script>
  function renderMathJax(element) {
    MathJax.typesetClear([element]);
    MathJax.typesetPromise([element]).catch((err) => {
      console.error('MathJax error: ', err);
    });
  }

  // Custom marked renderer to handle LaTeX formulas
  const renderer = new marked.Renderer();
  renderer.text = function (text) {
    return text.replace(/\\\((.*?)\\\)/g, function (match, p1) {
      return '\\(' + p1 + '\\)';
    });
  };

  marked.use({ renderer });

  var simplemde = new SimpleMDE({
    element: document.getElementById("message-{{ include.parent_id }}"),
    forceSync: true,
    spellChecker: false,
    status: false,
    placeholder: 'Comment (markdown supported)',
    previewRender: function (plainText, preview) {
      setTimeout(function () {
        renderMathJax(preview);
      }, 0);

      return marked(plainText);
    },
  });

  simplemde.codemirror.on('refresh', function () {
    renderMathJax(simplemde.codemirror.display.wrapper);
  });
</script>
